@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

       <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://www.macoratti.net/" target="_blank">Macoratti.net</a>
        </div>
        <article class="content px-4">
                @Body
        </article>
    </main>
</div>
